doctype html
html
  head
    link(rel="stylesheet", href="css/style.css")
  body
    .hello-world
      | Hello, world.
    button(onclick="hello_world_button()")
      | I'm button.
    script(src="js/script.js")
